@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="(() => Handle())">About</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    [Inject]
    public HttpClient Client { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public async Task Handle()
    {
        Client.BaseAddress = new Uri("https://localhost:7001/api");
        await Client.GetAsync(Client.BaseAddress+"/Auth/Logout");
        NavigationManager.NavigateTo("/login", true);
    }
}
