@page "/"
@rendermode InteractiveServer
@using Newtonsoft.Json
@using System.Text
@using Thunder.Application.Dto.References

<PageTitle>Home</PageTitle>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @if (References?.Count > 0)
        {
            @foreach (var reference in References!)
            {
                <tr>
                    <td>@reference.Id</td>
                    <td>@reference.Name</td>
                    <td>@reference.EmailAddress</td>
                    <td>@reference.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No references found.</td>
            </tr>
        }
    </tbody>
</table>


<InputText @bind-Value="Name"></InputText>
<InputText @bind-Value="EmailAddress"></InputText>

<button type="button" @onclick="(() => SaveAsync(ReferenceDto!))">Save</button>

@code {

    public required string Name { get; set; }
    public required string EmailAddress { get; set; }

    private CreateReferenceDto? ReferenceDto { get; set; } = new CreateReferenceDto()
    {
        Name = nameof(Name),
        EmailAddress = nameof(EmailAddress)
    };

    private List<ResultReferenceDto>? References { get; set; } = new List<ResultReferenceDto>();
    public HttpClient HttpClient = new HttpClient();

    protected override async Task<List<ResultReferenceDto>> OnInitializedAsync()
    {
        HttpClient.BaseAddress = new Uri("https://localhost:7001/api/");
        var response = await HttpClient.GetStringAsync(HttpClient.BaseAddress+"References");
        var result = JsonConvert.DeserializeObject<List<ResultReferenceDto>>(response);
        References = result;
        return References!;
        // You can add any initialization logic here if needed
    }

    private async Task SaveAsync(CreateReferenceDto referenceDto)
    {
        HttpClient.BaseAddress = new Uri("https://localhost:7001/api/");
        ReferenceDto = referenceDto;
        // Call the service to save the reference                
        HttpContent content = new StringContent(JsonConvert.SerializeObject(referenceDto),Encoding.UTF8,"application/json");
        await HttpClient.PostAsync(HttpClient.BaseAddress+"References",content);
        
    }

    

}
